windowServices/sde_pushMQ/sde_pushMQ/Web References/WCFsde/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/sde.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/sde.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSchedulerEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SchedulerEntity" nillable="true" type="tns:SchedulerEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSchedulerEntity" nillable="true" type="tns:ArrayOfSchedulerEntity" />
  <xs:complexType name="SchedulerEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="sche_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="sche_lastRun" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="sche_lastRunSeqNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="sche_minuteGap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sche_nextRun" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="sche_nextRunSeqNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="sche_status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sche_transactionType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SchedulerEntity" nillable="true" type="tns:SchedulerEntity" />
</xs:schema>